.main-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.5s;
}

.main-button:hover {
  border-color:  #646cff;
}

.custom-list {
  list-style-position: inside;
  padding: 1em;
  text-align: left;
  border: 1px solid #646cff;
}
.custom-list li {
  margin: 0.5em 0;
}

.custom-summary {
  list-style-position: inside;
  padding: 1em;
  text-align: left;
  border: 1px solid #ff9800;      /* Orange border */
  background-color: #2e3a59;      /* Deep blue background */
  color: #ffb74d;
}
.custom-summary li {
  margin: 0.5em 0;
  color: whitesmoke;                 /* Softer orange for list items */
}

* {
  text-align: left;
}

.orange-text {
  color: rgb(148, 117, 58);
}

.red-text {
  color: rgb(255, 82, 82);
  font-weight: bold;
}

.green-text {
  color: green;
}

.underline {
  text-decoration: underline wavy;
}

code {
  background: rgba(70, 67, 67, 0.733);
  padding: 1em;
  display: block;
  border-radius: 6px;
  font-family: monospace;
  white-space: pre-wrap;
}

.inline-code {
  background: rgba(90, 79, 88, 0.733);
  border-radius: 6px;
  font-family: monospace;
  white-space: pre-wrap;
}

